.vn-background{
    background-color:#f7f7f7;
}

.menu-height {
    min-height: 660px;
    height: 100%;
} 

div.vm-overflow {
    background-color: white;
    width: 210px;
    height: 120px;
    overflow: auto;
  }