.task-pointer { 
    cursor: pointer; 
}



  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .task-card-mobile {
      width: 100;
    }
    .row.content {height: auto;} 
  }

.task-card{
    width: '16rem'
}