.footer {
    padding: "20px";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
  }


  .bg-white{
    background:white
  }

  .mywork-color {
    background-color: #0275d8;
}