.footer {
    padding: "20px";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
  }


  .bg-white{
    background:white
  }

  .mywork-color {
    background-color: #0275d8;
}

.rcorners {
  border-radius: 25px;
  background:white;
  padding: 1px;
  width: 305px;
  height: 30px;
  padding-left: 8px;
}