<section class="notifications">
    <p class="notification-message">Notification Message</p>
</section>
<img src="/images/sadFace.png" alt="sad-face" class="sad-face">
<h1 class="not-found">404 - Page Not Found</h1>

{{!-- img#sadFaceImg{
    display: block;
    margin: 0 auto;
} --}}

{{!-- <div class="container">
    <img id="sadFaceImg" style="width: 700px; display: block; margin: 0 auto"
        src="https://imageog.flaticon.com/icons/png/512/42/42901.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
        alt="sad face" />
    <h1>HTTP error 404</h1>
    <h2>Page not found</h2>
</div> --}}